body {
    background-color: #2DB6BE;
}

.color-nav {
    background-color: #FDABB1;
}

.fixed-size-img {
    width: 300px; 
    height: 200px;
    object-fit: cover;
}

button.nav-link {
    color: black;
}

button.nav-link:hover {
    color: #FDABB1;
}

.nav-link {
    color: white;
}
/*centraliza conteúdo do tab*/
.tab-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    button.nav-link:focus, button.nav-link:active, button.nav-link.show, button.nav-link.active {
        color: #FDABB1 !important;
    }
}